.highlight-on-hover img {
    transition: transform 0.3s ease-in-out;
}

.highlight-on-hover img:hover {
    transform: scale(1.1); /* 1.1 คือขนาดที่เพิ่มขึ้น 10% */
}

.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #F893B5;
    border: none;
    border-radius: 5px;
}

body {
    font-size: 120%;
    background: #f8f8f8;
}

/* CSS file or within <style> tags */
.pink-color {
    color: #FAC9DB;
}

.pink-color2{
    color: #F893B5;
}

.pink-color3 {
    color: #FAC9DB;
}